# Binários e executáveis
/bin/
/clean-arch-generator

# Dependências do Go
/vendor/

# Arquivos de configuração local
.env
.env.local

# Logs e arquivos temporários
*.log
*.tmp

# IDE/Editor
.vscode/
.idea/

# Swagger
/docs/